.Header {
  background-color: orange;
  height: 200px;
}
.Navigation {
  background-color: lightblue;
  height: 100px;
}
.Main {
  background-color: lightgoldenrodyellow;
  height: 2400px;
}
.Footer {
  background-color: orange;
  height: 200px;
}
