/*global*/
* {
  box-sizing: border-box;
}

/*body */
body {
  background-color: #e7bf21;
  min-height: 80vh;
  width: 100vw;
  margin: 0;
}

/*Header and header elements*/
#Header {
  background-color: lightgoldenrodyellow;
  max-height: 200px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-bottom: 2%;
  padding-top: 2%;
  border: solid black;
}

#header-logo {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  margin: 0 auto;
}

/*Main */
.Main {
  height: auto;
  width: 100vw;
  padding-bottom: 100px;
  padding-top: 200px;
}

/* Footer */
#Footer {
  display: flex;
  background-color: lightgoldenrodyellow;
  max-height: 70px;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-top: 2%;
  border: solid black;
}

/*buttons*/
#header-button-box {
  display: flex;
  margin-left: 2%;
  margin-right: 70%;
  text-align: center;
  justify-content: space-between;
  align-items: space-between;
}
.general-button {
  font-size: large;
  font-family: Charter, "Bitstream Charter", "Sitka Text", Cambria, serif;
  font-weight: 300;
  background-color: #ffd700;
  border: solid;
  padding: 12px 28px;
  border-radius: 12px;
}
.general-button:hover {
  background-color: gold;
  cursor: pointer;
  transform: scale(1.05);
  transition: all 0.2s ease-in-out;
}
#back-to-profile {
  display: flex;
  justify-content: center;
}
#profile-buttons-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 5%;
  margin: 50px;
}
#handle-back {
  font-size: x-large;
}
#handle-next {
  font-size: x-large;
}
#handle-submit {
  font-size: x-large;
}

#form-button-box {
  padding: 2%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
}

/*Feed*/
.event-card h3 {
  font-size: x-large;
  font-family: Charter, "Bitstream Charter", "Sitka Text", Cambria, serif;
  font-weight: 500;
  margin: 5px 50px;
}
.event-card p {
  font-size: larger;
  font-family: Charter, "Bitstream Charter", "Sitka Text", Cambria, serif;
  font-weight: 300;
  margin: 25px 50px;
}
.event-card {
  background-color: lightgoldenrodyellow;
  height: 350px;
  margin: 3%;
  padding-top: 10px;
  border: solid;
  border-radius: 25px;
}

/*Profile*/
.profile-card h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: xx-large;
  font-family: Charter, "Bitstream Charter", "Sitka Text", Cambria, serif;
  font-weight: 500;
  margin: 25px 50px;
}
.profile-card p {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: larger;
  font-family: Charter, "Bitstream Charter", "Sitka Text", Cambria, serif;
  font-weight: 400;
  margin: 25px 50px;
}
.profile-card {
  background-color: lightgoldenrodyellow;
  height: auto;
  margin: 3%;
  padding-top: 10px;
  border-radius: 25px;
  border: solid;
}

/*About*/
#about-page {
  gap: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  background-color: lightgoldenrodyellow;
  text-align: center;
  padding: 50px;
  width: 100%;
}
#about-page p {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: xx-large;
  font-family: Charter, "Bitstream Charter", "Sitka Text", Cambria, serif;
  font-weight: 300;
  padding: 40px;
  background-color: #ffd700;
  border: solid;
}
#about-page h3 {
  display: flex;
  font-size: 70px;
  font-family: Charter, "Bitstream Charter", "Sitka Text", Cambria, serif;
  font-weight: 300;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 30px;
  background-color: #ffd700;
  border: solid;
}
#about-page img {
  box-shadow: 10px 10px 5px;
  border-radius: 25px;
  border: solid;
  height: 375px;
  width: 600px;
}
#about-page video {
  box-shadow: 10px 10px 5px;
  border-radius: 25px;
  border: solid;
  height: 350px;
  width: 600px;
  object-fit: cover;
}
#GG-bottom {
  padding: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*UserForm*/
#warning-message {
  padding: 3%;
  background-color: red;
  text-align: center;
}
#warning-message p {
  font-size: x-large;
  font-weight: bolder;
  color: white;
}
#warning-message h3 {
  font-size: xx-large;
  font-weight: bolder;
  color: white;
}
.onboarding-container {
  background-color: lightgoldenrodyellow;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  width: 100%;
  gap: 5px;
  border: solid;
}
#steps {
  font-size: x-large;
  font-weight: bold;
  margin-right: 70%;
}

/*Greeting*/

#greeting label {
  font-size: x-large;
}
#greeting input {
  font-size: x-large;
}

#welcome-text {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Age*/
#age label {
  font-size: x-large;
}
#age input {
  font-size: x-large;
}

/*Pronouns*/
#pronouns {
  background-color: lightgoldenrodyellow;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}
#pronouns label {
  font-size: x-large;
  font-weight: bolder;
}
#other {
  font-size: large;
}

/*Hobbies*/
#hobbies {
  font-size: x-large;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin: 3%;
}

/*Smart phone (sm)*/
@media screen and (max-width: 900px) {
  /*Main */
  .Main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }

  /*Header*/
  #header-logo {
    height: 80px;
  }

  /*buttons*/
  #header-button-box {
    gap: 50px;
    padding-top: 2%;
  }
  #profile-buttons-container {
    gap: 10px;
  }

  /*Feed*/
  .event-card h3 {
    font-size: larger;
    font-weight: 700;
  }
  .event-card p {
    font-size: large;
  }
  .event-card {
    height: 320px;
  }

  .profile-card p {
    font-size: larger;
  }
  /*About page*/
  #about-page p {
    font-size: 25px;
    font-family: "Times New Roman", Times, serif;
    font-weight: 500;
    width: 100%;
  }
  #about-page h3 {
    font: size 60px;
    font-family: "Times New Roman", Times, serif;
    font-weight: 700;
  }

  #about-page img {
    height: 50%;
    width: 75%;
  }
  #about-page video {
    height: 50%;
    width: 75%;
  }

/*UserForm*/
#warning-message {
  padding: 3%;
  background-color: red;
  text-align: center;
}
#warning-message p {
  font-size: medium;
}
#warning-message h3 {
  font-size: larger;
}
#steps {
  font-size: large;
  font-weight: bold;
  margin: 0;
}

/*Greeting*/
#welcome-text {
  font-size: medium;
}

/*Pronouns*/
#pronouns label {
  font-size: large;
  font-weight: 400;
}

/*Hobbies*/
#hobbies {
  font-size: large;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin: 3%;
}
}
/*laptops and small desktop screens (lg)*/
@media screen and (min-width: 900px) {
  /*Main */
  .Main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }

  /*Header*/
  #Header {
    display: grid;
    margin: 0 auto;
  }
  #header-logo {
    height: 75px;
  }

  .general-button {
    font-size: medium;
    font-weight: 600;
    align-items: center;
  }

  #profile-buttons-container {
    gap: 10px;
  }

  /*Feed*/
  .event-card h3 {
    font-size: larger;
    font-weight: 700;
  }
}
