header{
  background-color: orange;
  height: 200px ;
}

#Header-Logo{
  padding-top: 5%;
  margin: 0 auto;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

main{
 background-color: lightgoldenrodyellow;
  height: 600px ;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

footer{
  background-color: orange;
  height: 150px ;
  display: flex;
  justify-content: center;
  align-items: center;
}

#Main-Nav{
  display: flex;
  justify-content:space-around;
  padding: 10%;
}


